@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

#card-con{
    margin-top: 20px;
    margin-bottom: 20px;
}


#card-cols .col-4{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

#card-cols .col-4 :hover{
    border-radius: 15%;
    border-color: #80dfff;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}
