@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

#card-con{
    margin-top: 20px;
    margin-bottom: 20px;
}


#card-cols .col .btn {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
