{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>Set a new password!</h1>
    </div>

    <div class="row">

        <div class="col">
        </div>

        <div class="col">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change my password">
          </form>
        </div>

        <div class="col">
        </div>

    </div>

{% endblock %}