{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

<!-- Load custom tags for templates -->
{% load define_action %}

{% block title  %}Annotation Selection{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Annotation Selection </h1>
    </div>

    <!-- Instructions -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Instructions
                    </h3>
                </div>
                <div class="card-body">
                    <p>Select Annotation to save annotated classes and words to. Annotation choices are listed below...</p>
                </div>
            </div>
        </div>
    </div>
    </br>


    <!-- Annotations and their classes -->
    <div class="row">

        <!-- Annotations List -->
        <div class="col-6">
            <div class="card bg-info text-white text-center">
                <div class="card-header">
                    <p class="lead mb-0">Annotations List</p>
                </div>
                <div class="card-body">
                    <select class="custom-select" size="5">
                        {% for annot in all_annotations %}
                          <option class="list-group-item" onclick="$(this).toggleClass('selected');" value="./{{annot.pk}}" >{{ annot.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <!-- Classes -->
        <div class="col-6">
            <div class = "card bg-info text-white text-center">
              <div class="card-header">
                  <p class="lead mb-0">Annotation Classes</p>
              </div>
              <div class = "card-body">
                  <select class="custom-select" size="10">

                  </select>
              </div>
              <div class="card-footer">
              </div>
            </div>
        </div>
    </div>

    </br>
    <div class="row float-right">
        <div class="col-6">
            <button type="submit" class="btn btn-lg btn-success" href="#" onclick="">Confirm annotation</button>
        </div>
    </div>

{% endblock %}