{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

<!-- Load custom tags for templates -->
{% load define_action %}

{% block title %}Annotation Manager{% endblock %}


{% block content %}
    <script> var all_classifications = {{all_classifications_js|safe}} </script>

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1>Annotation Creation </h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}

        <!-- Annotations and classes -->
        <div class="row">
            <!-- Annotations List -->
            <div class="col-6">
                <div class="card bg-info text-white text-center">
                    <div class="card-header">
                        <p class="lead mb-0">Annotations List</p>
                    </div>
                    <div class="card-body">
                        <select class="custom-select annotations" size="5">
                            {% for annot in all_annotations %}
                              <option class="list-group-item" value="{{annot.pk}}">{{ annot.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

            <!-- Classes -->
            <div class="col-6">
                <div class = "card bg-info text-white text-center">
                  <div class="card-header">
                      <p class="lead mb-0">Annotation Classes</p>
                  </div>
                  <div class = "card-body">
                      <select class="custom-select classifications" size="7">
                      </select>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
            </div>
        </div>

        <!-- Name field -->
        <div class="row">
            <div class="col">
                {{form.name|as_crispy_field}}
            </div>
        </div>

        <!-- Button group - New/Load/delete -->
        <!-- TODO: Connect to backend/ Submit no trabajo -->
        <div class="row justify-content-center">
          <div class="input-group col justify-content-center">
            <div class="input-group-prepend justify-content-center">
                <button type="submit" class = "btn btn-lg btn-success" id = "new"><i class="fa fa-plus" aria-hidden="true"></i> Create Annotation</button>
            </div>
            <div class="input-group-append">
                <button type="button" class = "btn btn-lg btn-danger"  id = "delete">Delete Annotation <i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        <br/>

<!-- <input type="text" class="form-control" placeholder="New Annotation's name... E.g: 'empty'" aria-label="New Annotation's name" aria-describedby="basic-addon1" id="text">-->

    </form>

{% endblock %}