{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Annotate{% endblock %}


{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Annotate {{survey}}</h1>
    </div>


    <form action="." method="post">
        {% csrf_token %}
        {{ form.id }}

        {% for choice_object, choice_text in choices.items %}
            <div class="row" >
                <label class="col-sm-1 btn btn-secondary text-left">
                    <input value="{{choice_object}}" name="words" class="select_me" id='{{choice_object.id}}'>
                    {{ choice_text }}
                </label>
            </div>

        {% endfor %}
        <button type="submit" class="btn btn-block btn-primary">Save annotation</button>
    </form>


    <script>

    </script>

{% endblock %}


