{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

<!-- Load custom tags for templates -->
{% load define_action %}

{% block title %}Annotate{% endblock %}


{% block content %}
    <script>
        var annotation_id = {{ annotation.id }};
    </script>
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Annotate: {{survey}} as {{ annotation.name }} </h1>
    </div>

    <!-- TODO: YIANNIS PLS MAKE THIS GOOD LOOKING -->
    THESE ARE THE ANNOTATIONS THAT THE SURVEY "OWNS", they'll change the active annotation
    <br>
    {% for annot in all_annotations %}
        <a href="#" >{{ annot.name }}</a>
    {% endfor %}
    </br>

    <!-- Annotated Content with tabs -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <nav>
                        <h3>
                            Annotated Content
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2,#collapse3" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
                            </button>
                        </h3>
                        <!-- TABS -->
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" onclick="openTab(event, 'all-tab')" data-toggle="tab" href="#all-tab" role="tab" aria-controls="all" aria-selected="false">All</a>
                            {% for class in classifications %}
                                <a class="nav-item nav-link" onclick="openTab(event, '{{ class.name }}')" id="{{ class.name }}-tab1" data-toggle="tab" href="#{{ class.name }}" role="tab" aria-controls="{{ class.name }}" aria-selected="false" style="background:{{class.color}};">
                                    <span class="class_name" style="color:{{class.color}}; filter:invert(1);">{{ class.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <!-- All tab content -->
                    <div class="tab-pane fade show active tabc" id="all-tab" role="tabpanel" aria-labelledby="all" style="">
                        <div class="collapse multi-collapse" id="collapse2">
                            <ul class="card-block list-group list-group-flush">
                                {% define "{{NULL}}" as curWord %}
                                {% for word in words %}
                                    {% if curWord != word.text %}
                                        {% define word.text as curWord %}
                                        <li class="list-group-item" style="background:{{word.classification.color}}">
                                            <span style="color:{{word.classification.color}}; filter:invert(1);">
                                                {{word.classification.name}} - {{ word.text }}
                                            </span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Annotated tabs content -->
                    {% for class in classifications %}
                    <div class="tab-pane fade tabc" id="{{ class.name }}" role="tabpanel" aria-labelledby="{{ class.name }}-tab" style="display:none;">
                        <div class="collapse multi-collapse" id="collapse3">
                            <ul class="card-block list-group list-group-flush">
                                {% define "{{NULL}}" as curWord %}
                                {% for word in words %}
                                    {% if word.classification.name == class.name %}
                                        {% if curWord != word.text %}
                                            {% define word.text as curWord %}
                                            <li class="list-group-item" style="background:{{word.classification.color}}">
                                                <span style="color:{{word.classification.color}}; filter:invert(1);">
                                                    {{word.classification.name}} - {{ word.text }}
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted">
                    <p>Press the arrow-down button to expand/collapse this card</p>
                </div>
            </div>
        </div>
    </div>
    </br>

    <!--TODO: fix annotation in firefox. text highlightinh only works on chrome atm -->

    <!-- Annotate Interface -->
    <form action="" method="post">
        {% csrf_token %}
        {{ form.id }}
    <div class="card">
        <div class="card-header">
                <h3>Annotate Sentences:</h3>
        </div>

        <div class="container-fluid">
            {% for choice in choices %}
                {% if forloop.counter|divisibleby:2 %}
                    {% define "white;" as bg_colour %}
                {% else %}
                    {% define "lightgray;" as bg_colour %}
                {% endif %}

                <div class="row">
                    <label class="col-sm-12 text-left annotation_id mb-0" id="{{choice.id}}" style="z-index:0; background:{{bg_colour}}">
                        <div class="row">
                            <div class="colours ml-3" style="z-index:2; pointer-events:none;">
                                {%for word in words%}
                                    {%if choice.id == word.choice.id%}
                                        {% define forloop.counter as pos %}
                                        <div class="colour_overlay" style="position:absolute;">
                                        <!-- this fucking thing has to be like this, or else it wont work :) -->
                                        {%for ch in choice.choice_text%}{%if word.start > forloop.counter%}<span class="invisible">{{ch}}</span>{%elif forloop.counter > word.start and forloop.counter <= word.end%}<span class="pb-1" style="background-color:{{word.classification.color}};"><span style="color:{{word.classification.color}}; filter:invert(1);">{{ch}}</span></span>{%else%}<span class="invisible">{{ch}}</span>{%endif%}{%endfor%}
                                        </div>
                                    {%endif%}
                                {%endfor%}
                            </div>

                        </div>

                        <!-- don't move this because it breaks everything -->
                        <input type="text" style="z-index:-1;" value="{{ choice }}" disabled class="select_me nothing">
                    </label>
                </div>
            {%  endfor %}
        </div>

         <div class="card-footer text-muted">
            <div class="row justify-content-center">
                <div class="col-3">
                     <div class="row">
                        <div class="col">
                            <a id="add_all" class="annotation_operation text-light btn btn-success">Add to all</a>
                            <a id="add_one" class="annotation_operation text-dark btn btn-outline-success">Add to single</a>
                        </div>
                     </div>
                </div>
                <div class="col-3">
                    {{ form.classification_name }}
                </div>

                <div class="col-3" id="selection" >
                    <input id="annotation_help"
                           value="Please make your selection"
                           class="textinput textInput form-control"
                           disabled >
                </div>

                <div class="col-3">
                    <div class="row float-right">
                        <div class="col">
                            <a id="delete_one" class="annotation_operation text-dark btn btn-outline-danger">Remove single</a>
                            <a id="delete_all" class="annotation_operation text-light btn btn-danger">Remove all</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>
        </br>

        <!-- Instructions -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            Instructions
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>To annotate the text, highlight the word (or words) and press 'Add'. To remove the annotation, highlight the word and press 'Remove'. </p>
                    </div>
                </div>
            </div>
        </div>
        </br>

        <button type="submit" class="btn btn-block btn-primary">Save annotation</button>
    </form>


{% endblock %}