{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

<!-- Load custom tags for templates -->
{% load define_action %}

{% block title %}Annotate{% endblock %}


{% block content %}
    <script>
        var annotation_id = {{ annotation.id }};
    </script>
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Annotate: {{survey}} as {{ annotation.name }} </h1>
    </div>

    <div class="card" style="width: fit-content; width: -moz-fit-content;">
        <div class="card-header">
                <h2>Annotated Content</h2>
        </div>
        <ul class="card-block list-group list-group-flush">
            {% for word in words %}
                <li class="list-group-item" style="background:{{word.classification.color}}">
                    {{word.classification.name}} - {{ word.text }}
                </li>
            {% endfor %}
        </ul>
        <div class="card-footer text-muted">
        </div>
    </div>
    </br>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.id }}

        <div class="container-fluid">
            {% for choice in choices %}
                {% if forloop.counter|divisibleby:2 %}
                    {% define "white;" as bg_colour %}
                {% else %}
                    {% define "lightgray;" as bg_colour %}
                {% endif %}

                <div class="row">
                    <label class="col-sm-12 text-left annotation_id" id="{{choice.id}}" style="z-index:0; background:{{bg_colour}}">
                        <div class="row">
                            <div class="colours ml-3" style="z-index:-1;">
                                {%for word in words%}

                                    {%if choice.id == word.choice.id%}
                                        {% define forloop.counter as pos %}
                                        <div style="position:absolute;">
                                        <!-- this fucking thing has to be like this, or else it wont work :) -->
                                        {%for ch in choice.choice_text%}{%if word.start > forloop.counter%}<span class="invisible">{{ch}}</span>{%elif forloop.counter > word.start and forloop.counter <= word.end%}<span class="pb-1" style="background-color:{{word.classification.color}};"><span class="invisible">{{ch}}</span></span>{%else%}<span class="invisible">{{ch}}</span>{%endif%}{%endfor%}
                                        </div>
                                    {%endif%}

                                {%endfor%}
                            </div>
                        </div>
                        <input type="text" style="z-index:1;" value="{{ choice }}" disabled class="select_me nothing">
                    </label>
                </div>
            {%  endfor %}
        </div>


        <div class="row justify-content-center">
            <div class="input-group-prepend btn-group">
                <button id="add_all" class="annotation_operation text-light btn btn-success">Add to all</button>
                <button id="add_one" class="annotation_operation text-dark btn btn-outline-success">Add to single</button>

                <div class="col-sm-auto">
                    {{ form.classification_name }}
                </div>

                <div class="col-sm-auto" id="selection" >
                    <input id="annotation_help"
                           value="Please make your selection"
                           class="textinput textInput form-control"
                           disabled >
                </div>
            </div>
            <button id="delete_one" class="annotation_operation text-dark btn btn-outline-danger">Remove single</button>
            <button id="delete_all" class="annotation_operation text-light btn btn-danger">Remove all</button>
        </div>
        <br>

        <button type="submit" class="btn btn-block btn-primary">Save annotation</button>
    </form>
{% endblock %}


<!-- LEGACY

{% for color, text in choices_colored.items %}
    {% if text in choice.choice_text %}
        <div style=" z-index:-1;">
            <span style="background-color:{{ color }}; position:absolute; height; 100%; width:auto;">
                {% for ch in text %}

                    &#160
                {% endfor %}
            </span>
        </div>
    {% endif %}
{% endfor %}

-->