<!DOCTYPE html>
{% load static from staticfiles %}
<!--suppress JSUnresolvedLibraryURL -->

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- include bootstrap CDN begin, this is pretty much the only place you'd probably need it in -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <!-- Jquery, Jquery UI & Bootstrap -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <!-- get static files defined in settings and urls -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="{% static 'surveys/js/feather.js' %}"></script>
            <script src="{% static 'surveys/js/scripts.js' %}"></script>
            <script src="{% static 'surveys/js/jquery.formset.js' %}"></script>
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
            <link href="{% static 'surveys/css/style.css' %}" rel="stylesheet" type="text/css" />

        <title>{% block title %} Surffee app {% endblock %}</title>

    </head>

    <body style="background-image: url('{% static 'surveys/seigaiha.png' %}');">
        <!-- Navbar -->
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark sticky-top navbar-custom">
            <a class="navbar-brand" style="font-size: x-large;" href="{% url 'home' %}">Surffee</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Actual navbar options -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- left -->
                <ul class="navbar-nav mr-auto">
                    <!--Home-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-home"></i>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <!-- right -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            {{ username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-custom">
                            <!-- TODO: put this as an option next to profile -->
                            {% if user.is_superuser %}
                                <li><a class="nav-link" href="{% url 'admin:index' %}">Admin Settings  <span><i class="fa fa-cog" aria-hidden="true"></i></span></a></li>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <li><a class="nav-link" href="{% url 'surveys:index' %}">My surveys  <span ><i class="fa fa-file-text fa-1" aria-hidden="true"></i></span></a></li>
                                <li><a class="nav-link" href="{% url 'surveys:create' %}">Create survey  <span data-feather="plus-circle"></span></a></li>
                                <li><a class="nav-link" href="{% url 'password_reset' %}">Reset password  <span><i class="fa fa-eraser" aria-hidden="true"></i></span></a></li>
                                <li><a class="nav-link" href="{% url 'logout' %}">Logout  <span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a></li>
                            {% else %}
                                <li><a class="nav-link" href="{% url 'login' %}">Login  <span><i class="fa fa-sign-in" aria-hidden="true"></i></span></a></li>
                                <li><a class="nav-link" href="{% url 'signup' %}">Signup  <span><i class="fa fa-user-plus" aria-hidden="true"></i></span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>

        <!-- Sidebar & Main content block -->
        <div class="container-fluid" >
            <div class = "row" >

                <!-- sidebar starts here -->
                <div class="col-2" >
                    <div class="container-fluid sidebar-container">
                        <div class="row">
                            <!-- sidebar-menu  -->
                            <div class="page-wrapper chiller-theme toggled">
                                <nav id="sidebar" class="sidebar-wrapper" style="margin-top: 65px;">
                                    <div class="sidebar-content">
                                        <div class="sidebar-brand">
                                            <a class="text-center" style="font-size: large;" href="#">Surveys</a>
                                        </div>
                                        <!-- sidebar-header  -->
                                        <div class="sidebar-menu">
                                            <ul>
                                                <!-- General Header -->
                                                {% if user.is_authenticated %}
                                                    <li class="header-menu">
                                                        <span>Survey types</span>
                                                    </li>

                                                    <!-- Dashboard drop-down -->
                                                    {% if surveys_active %}
                                                        <li class="sidebar-dropdown">
                                                            <a href="#">
                                                                <i class="fa fa-tachometer"></i>
                                                                <span>Active</span>
                                                            </a>
                                                            <div class="sidebar-submenu" style="display:block;">
                                                                <ul>
                                                                    {% for survey in surveys_active %}
                                                                        <a href="surveys/{{survey.id}}">
                                                                            {{survey}}
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                    <!-- Charts drop-down -->
                                                    {% if surveys_inactive %}
                                                        <li class="sidebar-dropdown">
                                                            <a href="#">
                                                                <i class="fa fa-line-chart"></i>
                                                                <span>Inactive</span>
                                                            </a>
                                                            <div class="sidebar-submenu">
                                                                <ul>
                                                                    {% for survey in surveys_inactive %}
                                                                        <li>
                                                                            <a href="surveys/{{survey.id}}">
                                                                                {{survey}}
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                                <!--Extras header -->
                                                <li class="header-menu">
                                                    <span>Extra</span>
                                                </li>
                                                <!--Documentation link -->
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-book"></i>
                                                        <span>Documentation</span>
                                                    </a>
                                                </li>
                                                <!-- Calendar link -->
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-calendar"></i>
                                                        <span>Calendar</span>
                                                    </a>
                                                </li>
                                                <!-- Examples -->
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-folder"></i>
                                                        <span>Examples</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- main container -->
                <div id="main" class="col-sm-10">
                    <div class="container-fluid">
                        <main role="main" class="main-content-block">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% block content %}
                            {% endblock %}
                        </main>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!--Footer info-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p class="h6">University of Aberdeen - Project Surffee - Intelligent Survey Systems</p>
                        <p>Georgi Velikov - Anton Trnovsky - Yiannis Keravnos - Martin Woznicki - Julian Lorenz</p>
                    </div>
                </div>

            </div>
        </section>


    </body>
</html>