<!DOCTYPE html>
{% load static from staticfiles %}
<!--suppress JSUnresolvedLibraryURL -->

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- include bootstrap CDN begin, this is pretty much the only place you'd probably need it in -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <!-- Jquery, Jquery UI & Bootstrap -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <!-- get static files defined in settings and urls -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="{% static 'surveys/js/feather.js' %}"></script>
            <script src="{% static 'surveys/js/scripts.js' %}"></script>
            <script src="{% static 'surveys/js/jquery.formset.js' %}"></script>
            <script src="{% static 'surveys/js/jquery.selection.js' %}"></script>
        <!-- charts static files -->
            <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
            <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.candy.js' %}"></script>
            <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
        <!-- CSS static files -->
            <link rel="shortcut icon" type="image/png" href="{% static '/surveys/favicon.ico' %}"/>
            <link href="{% static 'surveys/css/style.css' %}" rel="stylesheet" type="text/css" />

        <title>{% block title %} Surffee app {% endblock %}</title>

    </head>

    <body style="background-image: url('{% static 'surveys/seigaiha.png' %}');">

        <!-- Navbar -->
        <nav id="navb" class="navbar navbar-icon-top navbar-expand-lg navbar-dark sticky-top navbar-custom">
                <a class="navbar-brand" style="font-size: x-large;" href="{% url 'home' %}">Surffee</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Actual navbar options -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- left -->
                    <ul class="navbar-nav mr-auto">
                        <!--Home-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <i class="fa fa-home"></i>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <!-- right -->
                    <ul class="navbar-nav">

                        <!-- Create Survey -->
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'surveys:create' %}">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    Create survey
                                </a>
                            </li>

                            <!-- My Surveys -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'surveys:index' %}">
                                    <i class="fa fa-file-text fa-1" aria-hidden="true"></i>
                                    My surveys
                                </a>
                            </li>


                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:index' %}">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        Admin Settings
                                    </a>
                                </li>
                            {% endif %}

                        {% endif %}

                        <!-- User profile -->
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                {{ username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-custom">

                                {% if user.is_authenticated %}
                                    <li><a class="nav-link" href="{% url 'password_reset' %}">Reset password  <span><i class="fa fa-eraser" aria-hidden="true"></i></span></a></li>
                                    <li><a class="nav-link" href="{% url 'logout' %}">Logout  <span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a></li>
                                {% else %}
                                    <li><a class="nav-link" href="{% url 'login' %}">Login  <span><i class="fa fa-sign-in" aria-hidden="true"></i></span></a></li>
                                    <li><a class="nav-link" href="{% url 'signup' %}">Signup  <span><i class="fa fa-user-plus" aria-hidden="true"></i></span></a></li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>

                </div>

            </nav>

        <div class="container-fluid" id="con">

            <!-- Sidebar/Main/Footer blocks -->
            <section class="page-wrapper chiller-theme toggled">

                <!-- Sidebar -->
                <a id="show-sidebar" class="btn btn-dark" href="#" style="margin-top: 100px;">
                   <i class="fa fa-bars"></i>
                </a>
                <nav id="sidebar" class="sidebar-wrapper" style="margin-top: 60px;">
                    <div class="sidebar-content">
                        <div class="sidebar-brand">
                            <a class="text-center" style="font-size: large;">Surveys</a>
                            <div id="close-sidebar">
                              <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <!-- sidebar-header  -->
                        <div class="sidebar-menu">
                            <ul>
                                <!-- General Header -->
                                {% if user.is_authenticated %}
                                    <li class="header-menu">
                                        <span>Survey types</span>
                                    </li>

                                    <!-- Active drop-down -->
                                    <li class="sidebar-dropdown">
                                        <a>
                                            <i class="fa fa-address-book-o"></i>
                                            <span>Active</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                {% if surveys_active %}
                                                    {% for survey in surveys_active %}
                                                        <li>
                                                            <a href="/surveys/{{survey.id}}">
                                                                {{survey}}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>
                                                        <a class="disabled">No active surveys </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Inactive drop-down -->

                                        <li class="sidebar-dropdown">
                                            <a>
                                                <i class="fa fa-address-book"></i>
                                                <span>Inactive</span>
                                            </a>
                                            <div class="sidebar-submenu">
                                                <ul>
                                                    {% if surveys_inactive %}
                                                        {% for survey in surveys_inactive %}
                                                            <li>
                                                                <a href="/surveys/{{survey.id}}">
                                                                    {{survey}}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    {% else %}
                                                        <li>
                                                            <a class="disabled">No inactive surveys </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </li>

                                {% endif %}

                                <li class="header-menu">
                                        <span>Analytics</span>
                                </li>
                                <!-- Analytics drop-down -->
                                <li class="sidebar-dropdown">
                                    <a>
                                        <i class="fa fa-line-chart"></i>
                                        <span>Statistics</span>
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                             <a class="disabled">No statistics generated yet </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <!--Extras header -->
                                <li class="header-menu">
                                    <span>Extra</span>
                                </li>
                                <!--Documentation link -->
                                <li>
                                    <a>
                                        <i class="fa fa-book"></i>
                                        <span>Documentation</span>
                                    </a>
                                </li>
                                <!-- Calendar link -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        <span>Calendar</span>
                                    </a>
                                </li>
                                <!-- Examples -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-folder"></i>
                                        <span>Examples</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Main Container -->
                <div  class="page-content">
                    <div class="container-fluid">
                        <div id="main" role="main" class="main-content-block">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        {% if message.tags %}
                                            <li  class="{{ message.tags }}">{{ message }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <section  id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                                <ul class="list-unstyled list-inline social text-center">
                                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="IN DEVELOPMENT" href="javascript:redirect();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer info-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                                <p class="h6">University of Aberdeen - Project Surffee - Intelligent Survey Systems</p>
                                <p>Georgi Velikov - Anton Trnovsky - Yiannis Keravnos - Martin Woznicki - Julian Lorenz</p>
                            </div>
                        </div>

                    </div>
                </section>
            </section>

        </div>

    </body>

</html>