{% extends 'base.html' %}

{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

<!-- Load custom tags for templates -->
{% load define_action %}

{% block title  %}Annotation Selection{% endblock %}

{% block content %}

    <div class="row">

        <!-- Documentation content -->
        <div class="col-9">
            <div class="card">
                <div class="card-content">
                    dawdawd
                </div>
            </div>
        </div>

        <!-- Right Content section -->
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5>Table of contents</h5>
                </div>
                <div class="card-content">
                    dawdawd
                </div>
            </div>
        </div>

    </div>





{% endblock %}