{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}

<head><link href="narrow-jumbotron.css" rel="stylesheet"></head>
{% block content %}
    {% if user.is_authenticated %}

        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Main Page</h2><br>
        </div>

        <!-- User message -->
        <div class="alert alert-info">Hi {{ user.username }}!</div>
        <div class="row justify-content-center">
            <div class="col">
                <iframe width="100%" height="680" src="https://www.youtube.com/embed/6c2GUSX0Y0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                style="max-width:100%; max-height:100%"></iframe>
            </div>
        </div>
        {% else %}

        <!-- Main page for all non signed in -->

        <!-- Banner Jumpatron -->
        <div class="text-xs-center" style="color: #fff; background-color: #484a3f; min-height: 100px; padding: 65px; text-align:center; border-radius: 1rem;" >
                 <h1 class="display-3">Welcome to Surffee</h1>
          <p class="lead" style="font-size: 1.8rem;">
              Join hands with scientists in this intelligent survey platform, designed for analysis of participant trends
              and intelligent questionnaire design. Don't take our word for it. Try it yourself.
          </p>
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-success"><span class="fa fa-check"></span> Create an account now</a>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="{% url 'login' %}" class="btn btn-lg btn-success"><span class="fa fa-sign-in"></span> or Log in here</a>
                </div>
            </div>
        </div>

        <!-- Empty spaces what are we living for...-->
        <div class="container">
            <br/>
            <br/>
        </div>

        <!-- The 3 columns -->
        <div class="text-xs-center" style="color: #fff; background-color: #484a3f; padding: 65px; text-align:center; border-radius: 1rem;" >
            <div class="card-deck">
                <div class="card bg-dark">
                    <div class="row">
                        <div class="col">
                            <img type="image/svg+xml" style="max-width: 200px; max-height: 200px; height: 100%; width: 100%; object-fit: contain;" id="chart-img" src="{% static 'surveys/diagramma-a-torta-2.png' %}"/>
                        </div>
                    </div>
                    <div class="card-body bg-dark d-flex flex-column">
                        <div class="d-flex justify-content-center flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h5 class="mb-0">
                                Intelligent Results
                            </h5>
                        </div>
                        <p class="card-text mb-auto text-justify text-wrap"> The Surffee Team is striving to provide intelligent results for surveys,
                            delivering customised views and forms of statistics which you can also export:
                            graphs, charts, database entries, statistics, etc.
                            Check out the native statistical graphics as well as export formats we offer below.
                        </p>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="row">
                        <div class="col">
                            <img type="image/svg+xml" style="max-width: 200px; max-height: 200px; height: 100%; width: 100%; object-fit: contain;" id="doc-img" src="{% static 'surveys/bb-txt-.png' %}"/>
                        </div>
                    </div>
                    <div class="card-body bg-dark d-flex flex-column">
                        <div class="d-flex justify-content-center flex-wrap flex-sm-nowrap pb-2 mb-3 border-bottom">
                            <h5 class="mb-0">
                                Smart Surveys
                            </h5>
                        </div>
                        <p class="text-justify text-wrap"> Intelligently designed to shrink/expand and change questions by detecting trends when answering.
                            How? Artificial Intelligence of course. We use machine learning techniques to manage all that and even more.
                            Keep updated to learn more about upcoming features.
                        </p>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="row">
                        <div class="col">
                            <img type="image/svg+xml" style="max-width: 200px; max-height: 200px; height: 100%; width: 100%; object-fit: contain;" id="sci-img" src="{% static 'surveys/Astronaut_Small_by_Merlin2525.png' %}"/>
                        </div>
                    </div>
                    <div class="card-body bg-dark d-flex flex-column">
                        <div class="d-flex justify-content-center flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h5 class="mb-0">
                                Helping Science
                            </h5>
                        </div>
                        <p class="text-justify text-wrap">Help scientists from many different domains by taking surveys to collect data,
                            research and produce better diagnostics.
                            Help build Medical, Language and Politics databases by just answering. This is just
                            the beginning. Help us bring more domains for creators.
                        </p>
                    </div>
                </div>
            </div>
         </div>

        <!-- Empty spaces what are we living for...-->
        <div class="container col-gap-40 mb-3">
        </div>

    {% endif %}
{% endblock %}