{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Sign up</h2>
    </div>
    <div class="row">

        <div class="col">
        </div>

        <div class="col">
            <div class="text-xs-center" style="color: #fff; background-color: #484a3f; min-height: 100px; padding: 65px; border-radius: 1rem;" >
                <div class="row">
                    <div class="col">
                    </div>
                    <!--suppress HtmlUnknownTarget -->
                    <img src="{% static 'surveys/logo0.png' %}" style="width: 100px; height: 100px;" alt="University of Aberdeen logo"/>
                    <div class="col">
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <!-- render the form as crispy instead of .as_p -->
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-success">Sign up  <i class="fa fa-plus" aria-hidden="true"></i></button>
                    <a href="{% url 'login' %}" type="button" class="float-right btn btn-warning">
                        Already have an account?<span><i class="fa fa-sign-in " aria-hidden="true"></i></span>
                    </a>
                </form>
                <br><br>
            </div>
        </div>

        <div class="col">
        </div>

    </div>

    <div class="row">
        <br>
    </div>

{% endblock %}