{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Active Surveys{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Active Surveys</h2>
    </div>

    {% if user.is_superuser %}

        <div class="alert alert-info">You're logged in under superuser privileges. All <strong>active</strong> surveys are shown.</div>
        <p>Your <strong>active</strong> surveys:</p>

    {% elif user.is_authenticated %}

        <p>Your <strong>active</strong> surveys:</p>

    {% endif %}

    <div class="list-group">
        {% for survey in active_surveys %}
                <a id="survey-list-i" class="list-group-item" href=../{{survey.id}}>
                    {{survey.name}}
                </a><br>
        {% endfor %}
    </div>

{% endblock %}
