{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}


{% block title %}Add question{% endblock %}

    <script type="text/javascript">
        $(function() {
            $(".inline.{{ choice_form.prefix }}").formset({
                prefix: "{{ choice_form.prefix }}",
            })
        })
    </script>

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Add a question to {{survey.name}}</h2>
    </div>
        <form action="." method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.survey }}
                <div class="col-sm-8">
                    {{ form.question_text|as_crispy_field }}
                </div>

                <div class="col-sm-1 text-center">
                    <legend class="col-form-label">Add</legend>
                    <button type="button" id="add-new-choice" class="btn btn-lg btn-success add-form-row" style="border-radius: 100%;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="col-sm-1 text-center">
                    <legend class="col-form-label">Remove</legend>
                    <button type="button" id="delete-choice" class="btn btn-lg btn-danger add-form-row" style="border-radius: 100%;">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-sm-2">
                    {{ form.type|as_crispy_field }}
                </div>
            </div>
                {{ choice_form.management_form }}
                {{ choice_form.non_form_errors }}
            <div id="answer-bois">
                {% for form in choice_form %}
                    {{ form.id }}
                    <div class="row">
                        <div class="col-sm-2">
                            Choice 1
                        </div>
                        <div class="col-sm-6">
                        {{ form.choice_text|as_crispy_field }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="container col-sm-6">

                <button type="submit" class="btn btn-block btn-primary">Add question</button>
            </div>
        </form>

    <!-- TODO: Djangofy this as this should be done in the views -->
    <script type="text/javascript">
          $("#id_survey").hide();
          $("#id_survey").val("{{survey.id}}");
    </script>

{% endblock %}