{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Answer survey{% endblock %}

{% block content %}
    <form action="." method="post">
        <div class="col-sm-12" >
            <!-- use this like any Survey or PI object .any_class_variable -->
            <h3> Survey: {{ survey }}</h3>
            <h5> Question: {{ question }} </h5>
        </div>

        <br>

        <div class="col-sm-8 offset-sm-2">
            {% csrf_token %}
            {% for ch in choice_set %}
                <label class="btn btn-secondary btn-block text-left">
                    <input type="checkbox" value="{{ch.id}}" name="choices" class="answer_question_choice" id='choice_{{ch.id}}'>
                    {{ ch }}
                </label>
            {% endfor %}
            <button type="button" class="submit_selection btn btn-block btn-primary">Answer</button>
        </div>
    </form>

{% endblock %}
