{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Index{% endblock %}

{% block content %}
    <!-- TODO: Yiannis pls make this look pretty -->
    <!-- survey has name, description, creator, creation_date, active -->
    <h1> {{ survey.name }} </h1>
    <h3> Description: {{ survey.description }} </h3>
    <!-- TODO: Grab some agreement text that is commonly used -->
    This is where all the text to agree to specific questions goes to, age, sex, yadda, yadda

{% endblock %}
