{% extends 'base.html' %}
{% load static from staticfiles %}
<head>
    <link href="{% static 'surveys/css/survey.css' %}" rel="stylesheet" type="text/css" />
</head>
<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Survey details{% endblock %}

{% block content %}

    {% if message %}
        {{message}}
    {% endif %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>
            {{survey.name}}
        </h1>

        {% if survey.active %}
            <a href="../toggle_active/{{survey.id}}" class="col-sm-2 btn btn-primary btn-success float-right">
                <span class="fa fa-exchange">
                    Active
                </span>
            </a>
        {% else %}
            <a href="../toggle_active/{{survey.id}}" class="col-sm-2 btn btn-primary btn-secondary float-right">
                <span class="fa fa-exchange">
                    Inactive
                 </span>
            </a>
        {% endif %}


        <a href="../delete_survey/{{survey.id}}" onclick="return confirm('Are you sure you want to delete?')" class="col-sm-2 btn btn-primary btn-danger float-right">
            <span class="fa fa-remove">
                Delete survey
            </span>
        </a>
    </div>

    <!-- Personal data grand design -->
    <div class="container-fluid col-gap-40">
        <div class="row">
            {% if choices %}
                <div class="col-md-2 personal-data">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h5>Personal data used:</h5>
                        </div>

                        <div class="list-group list-group-flush">
                            {% for ch in choices %}
                                <li id="survey-list-i" class="list-group-item list-group-item-info list-group-item-action">
                                    {{ ch }}
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Description in an alert. really dont know how to make this look good -->
            <div class="col-md-10 alert alert-info survey-description" role="alert">
                <h5><strong>Description:</strong> {{survey.description}}</h5>
            </div>
        </div>
    </div>

    <!-- Empty spaces what are we living for...-->
    <div class="container col-gap-40">
        <br/>
    </div>

    <!-- Questions and Choices Section -->
    {% for question in survey.question_set.all %} <!-- yeah this is how you go up the foreign key -->
    <div class="card">
         <div class="my-3 p-3 rounded box-shadow" style="float: none; display: block; position: static; top: auto; text-align: justify; text-decoration-line: none;">
             <!-- Questions section -->
             <div class="row" style="border-bottom: 5px;">
                 <div class="col-sm-10">
                     <p class="border-bottom border-gray pb-2 mb-0 text-truncate" style="font-size: large;">
                         {{ question.question_text }}
                     </p>
                 </div>
                 <div class="col-sm-2">
                     <!-- Default dropleft button -->
                    <div class="btn-group dropleft float-right">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu">
                            <!-- Dropdown menu links -->
                            <h6 class="dropdown-header">Dropdown header</h6>
                            <a class="btn dropdown-item" onclick="return confirm('Are you sure you want to delete?')" href="../{{survey.id}}/edit_question/{{question.id}}">Edit</a>
                            <a class="btn dropdown-item" onclick="return confirm('Are you sure you want to delete?')" href="../{{survey.id}}/delete_question/{{question.id}}">Delete</a>
                        </div>
                    </div>

                 </div>
             </div>

             <!-- Choices section -->
             {% for choice in question.choice_set.all %}
                 <div class="media text-muted pt-3 text-truncate">
                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-truncate">
                        <div class="d-flex justify-content-between align-items-center w-100 text-truncate">
                                <!-- Each choice -->
                                <div class="col-sm-10">
                                    <p class="text-gray-dark text-truncate" style="font-size: small;">{{ choice.choice_text }}</p>
                                    <a class="float-left" style="font-size: small;">(Votes:
                                        <span class="badge badge-primary badge-pill">{{ choice.votes }}</span>)
                                    </a>
                                </div>
                                <!-- Each choice's remove button -->
                                <div class="col-sm-2">
                                    <a class="btn btn-danger float-right" onclick="return confirm('Are you sure you want to delete?')" style="border-radius: 80%;" href="../{{survey.id}}/delete_choice/{{choice.id}}">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </div>
                        </div>
                    </div>
                 </div>
             {% endfor %}

        </div>
    </div>
    <br> <!-- get a break between each panel -->
    {% endfor %}


    <div class="container-fluid">
        <div class="row">
            <a class="col-sm-3 btn btn-success text-light" href="./add_question">
                <i class="fa fa-check-square-o"></i>
                Add question to the survey
            </a>

            <a class="offset-sm-1 col-sm-3 btn btn-success text-light" href="./annotate">
                <i class="fa fa-list"></i>
                Annotate survey
            </a>

            <a class="offset-sm-1 col-sm-3 btn btn-success text-light" href="./results">
                <i class="fa fa-bar-chart"></i>
                Survey results graphs
            </a>
        </div>

        <br>

        {% if survey.active %}
            <div class="row">
                <a class="offset-sm-4 col-sm-3 btn btn-info text-light float-right" href="../answer/{{survey.id}}/agreement">
                    Link for respondents
                </a>
            </div>
            <br>
        {% endif %}
    </div>

{% endblock %}
