{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Survey details{% endblock %}

{% block content %}

    {% if message %}
        {{message}}
    {% endif %}

    {% if user.is_superuser %}
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Heads up!</strong> You're logged in under superuser privileges. All surveys are shown.
        </div>
    {% elif user == survey.creator %}
        <p>You are the creator of this survey</p>
    {% endif %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>{{survey.name}}</h1>
    </div>

    <h5>Description: {{survey.description}}</h5>

    <h5>Personal data used:
        {% for ch in choices %}
            {{ ch }},
        {% endfor %}
    </h5>


    <!-- TODO: Figure our how we can use survey.name instead of survey.id, just cus it looks cooler -->
    <a href="../answer/{{survey.id}}/agreement">Link for respondents</a>


        <div class="card bg-light mb-3" >
            {% for question in survey.question_set.all %} <!-- yeah this is how you go up the foreign key -->
                <div class="card-header">Question {{ question.id }} -
                    <a href="../{{survey.id}}/edit_question/{{question.id}}">
                        {{ question.question_text }}
                    </a>

                    <a href="../{{survey.id}}/delete_question/{{question.id}}" class="btn btn-primary btn-danger float-right">
                        <span class="glyphicon glyphicon-remove">
                            delete
                        </span>
                    </a>
                </div>

                <div class="card-body">


                    {% for choice in question.choice_set.all %}
                            <div class="col-sm-3">
                                {{ choice.choice_text }}
                                (Votes: {{ choice.votes }})
                            </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


    <div class="row">
        <a class="btn btn-success" onclick="window.location.href='add_question/'">
            <i class="fa fa-check-square-o"></i>
            Add question to the survey
        </a>
    </div>

{% endblock %}
