{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Edit question{% endblock %}

    <script type="text/javascript">
        var choices = "{{ choices }}";
        $(function() {
            $(".inline.{{ choice_form.prefix }}").formset({
                prefix: "{{ choice_form.prefix }}",
            })
        })
    </script>

{% block content %}
    <h2>Edit "{{question.question_text}}" in {{survey.name}}</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.survey }}
                <div class="col-sm-8">
                    {{ form.question_text|as_crispy_field }}
                </div>

                <div class="col-sm-1 text-center">
                    <legend class="col-form-label">Add</legend>
                    <button type="button" id="add-new-choice" class="btn btn-lg btn-success add-form-row" style="border-radius: 100%;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="col-sm-1 text-center">
                    <legend class="col-form-label">Remove</legend>
                    <button type="button" id="delete-choice" class="btn btn-lg btn-danger add-form-row" style="border-radius: 100%;">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-sm-2">
                    {{ form.type|as_crispy_field }}
                </div>
            </div>
                {{ choice_form.management_form }}
                {{ choice_form.non_form_errors }}
            <div id="answer-bois">
                {% for form in choice_form %}
                    {{ form.id }}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group mb-3 fieldWrapper">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Choice 1</span>
                                  </div>
                                    {{ form.choice_text }}
                                </div>
                                <br>
                            </div>
                        </div>
                {% endfor %}
            </div>

            <div class="container col-sm-6">
                <button type="submit" class="btn btn-block btn-primary">Edit question</button>
            </div>
        </form>

    <script type="text/javascript">
        $("#id_survey").hide();
        $("#id_survey").val("{{survey.id}}");
        $("#id_question_text").val("{{question.question_text}}");

        $("#id_choice_set-0-choice_text").val("{{choices.0}}");
    </script>
    <!-- TODO: make jquery select the current value of question type in the dropdown menu -->
{% endblock %}