{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Finished surveys{% endblock %}


{% block content %}

    {% if user.is_superuser %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>You're logged in under superuser privileges. All inactive surveys are shown:</h2>
    </div>

    {% elif user.is_authenticated %}
        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your inactive surveys:</h2>
        </div>

    {% endif %}




    {% if surveys %}

        <p>Here you can see your <strong>inactive</strong> surveys. Feel free to modify these and
            once you are done make them active so they are able to be answered by the participants:</p>

        {% for survey in inactive_surveys %}
            <a id="survey-list-i" class="list-group-item list-group-item-action" href=../{{survey.id}}>
                {{survey.name}}
            </a><br>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Heads up!</strong> No inactive surveys are available.
        </div>
    {% endif %}

{% endblock %}

