{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Finished surveys{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="alert alert-info">You're logged in under superuser privileges. All <strong>inactive</strong> surveys are shown.</div>
    {% elif user.is_authenticated %}
        <p>Here you can see your <strong>inactive</strong> surveys. Feel free to modify these and
            once you are done make them active so they are able to be answered by the participants:</p>
    {% endif %}
    {% for survey in inactive_surveys %}
    <a href=../{{survey.id}}>{{survey.name}}</a><br>
    {% endfor %}
{% endblock %}
extra soi hello
