{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}All surveys{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <!-- MY ACTIVE SURVEYS -->
        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your active surveys:</h2>
        </div>

        <div class="list-group">
            {% if my_active_surveys %}
                {% for survey in my_active_surveys %}
                    <a id="survey-list-i" class="list-group-item list-group-item-action" href={{survey.id}}>
                        {{survey.name}}
                    </a>
                {% endfor %}

            {% else %}
                <div class="alert alert-danger">
                    <strong>Heads up!</strong> You have no active surveys.
                </div>
            {% endif %}
        </div>

        <br>
        <!-- MY INACTIVE SURVEYS -->
        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your inactive surveys:</h2>
        </div>

        <div class="list-group">
            {% if my_inactive_surveys %}
                {% for survey in my_inactive_surveys %}
                    <a class="list-group-item list-group-item-action" href={{survey.id}}>
                        {{survey.name}}
                    </a>
                {% endfor %}

            {% else %}
                <div class="alert alert-danger">
                    <strong>Heads up!</strong> You have no inactive surveys.
                </div>
            {% endif %}
        </div>

    {% endif %}

    {% endblock %}
