{% extends 'base.html' %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}All surveys{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="alert alert-info">You're logged in under superuser privileges. All surveys are shown.</div>
    {% elif user.is_authenticated %}
        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your surveys:</h2>
        </div>
    {% endif %}
    <ul>
        {% for survey in surveys %}
            <li>
                <a href={{survey.id}}>{{survey.name}}</a><br>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
extra soi hello
