{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}All surveys{% endblock %}

{% block content %}
    {% if user.is_superuser %}

        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your surveys:</h2>
        </div>

        <div class="alert alert-info">You're logged in under superuser privileges. All surveys are shown.</div>

    {% elif user.is_authenticated %}

        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Your surveys:</h2>
        </div>

    {% endif %}

    <div class="list-group">
        {% for survey in surveys %}
                <a id="survey-list-i" class="list-group-item" href={{survey.id}}>
                    {{survey.name}}
                </a><br>
        {% endfor %}
    </div>
    {% endblock %}
extra soi hello
