{% extends 'base.html' %}
<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Create survey{% endblock %}




{% block content %}

    <h2>Create survey</h2>
        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Create survey</button>
        </form>

    <script type="text/javascript">
          $("#id_creator").parent().parent().hide();
          $("#id_creator").val("{{request.user.id}}");
    </script>
{% endblock %}