{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Create Analysis{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Create an analysis page for {{survey.name}}</h2>
    </div>

     <div class="row">
        <div class="col-sm-12">
            <div class="card bg-dark text-white text-center" style="background-color:#333;">
                <div class="card-header">
                    <h2>Choose a type of analysis page to generate</h2>
                </div>

                <div class="card-block" id="card-con">
                    <div class="row" id="card-cols">
                        <div class="col-sm-4">
                            <div class="btn">

                                <p class="text-break text-wrap">Single Term Analysis</p>

                                <i class="fa fa-minus fa-border fa-4x" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="btn">

                                <p class="text-break text-wrap">Multiple Term Analysis</p>

                                <i class="fa fa-align-justify fa-border fa-4x" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="btn">

                                <p class="text-break text-wrap">Graphical Analysis</p>

                                <i class="fa fa-bar-chart fa-border fa-4x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted">
                </br>
                </div>
            </div>
        </div>
      </div>
{% endblock %}
