{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Create Analysis{% endblock %}

{% block content %}
    <script>
        var all_annotations_analysis = {{used_annotations_all_surveys|safe}};
        var all_analysis_names = {{all_analysis_names|safe}}
    </script>

    <form action="" method="post">
        {% csrf_token %}

        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Create an analysis page</h2>
        </div>

        <!-- Analysis Radio Buttons -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark text-white text-center" style="background-color:#333;">
                    <div class="card-header">
                        <h2>Choose a type of Analysis page to generate</h2>
                    </div>
                    <div class="card-block" id="card-con">
                        <div class="row">
                            <div class="col-12">
                                <div class="row" id="card-cols">
                                    <div class="col justify-content-between btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="analysis_option flex-fill btn btn-lg btn-dark">
                                            <i class="fa fa-italic fa-5x"></i>
                                            <p class="text-break text-wrap">Single Term<br>Analysis<br></p>
                                            <input type="radio" name="analysis_option" value="single" autocomplete="off">
                                        </label>
                                        <label class="analysis_option flex-fill btn btn-lg btn-dark">
                                            <i class="fa fa-align-justify fa-5x"></i>
                                            <p class="text-break text-wrap">Multiple Term<br>Analysis<br></p>
                                            <input type="radio" name="analysis_option" value="multiple" autocomplete="off">
                                        </label>
                                        <label class="analysis_option flex-fill btn btn-lg btn-dark">
                                            <i class="fa fa-bar-chart fa-5x"></i>
                                            <p class="text-break text-wrap">Graphical<br>Analysis<br></p>
                                            <input type="radio" name="analysis_option" value="graph" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p>Choose Analysis type and name and hit create.</p>
                    </div>
                </div>
            </div>
          </div>


        <!-- Replace with crispy -->
        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Survey to analyse</span>
          </div>
            <select class="custom-select" id="survey_select_list" name="survey_to_analyse">
                <option class="list-group-item" selected disabled hidden>Please select a survey</option>
                {% for survey in all_user_surveys %}
                        <option class="list-group-item" value="{{survey.pk}}">{{survey.name}}</option>
                {% endfor %}
            </select>
        </div>

                <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Annotations in selected survey</span>
          </div>
            <select class="custom-select" id="annotation_select_list" name="annotation_to_analyse" disabled>
                <option class="list-group-item" selected disabled hidden> --- </option>

            </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Analysis name</span>
          </div>
            {{form.analysis_name}}
        </div>

        <!-- Button -->
        <br/>
        <div class="row justify-content-center">
            <div class="input-group col justify-content-center" style="z-index: 0;">
                <button type="submit" id="create_analysis_button" class="btn btn-lg btn-success" disabled>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                Create Analysis
                </button>
            </div>
        </div>

    </form>

{% endblock %}
