{% extends 'base.html' %}
<!-- include crispy -->

{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block title %}Results{% endblock %}


{% block content %}
    <!-- charts static files -->
        <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.candy.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>
            Results: {{survey.name}}
        </h2>
    </div>

    {% for name, json_data in charts %}
        <div id="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            {% autoescape off %}
                <script>
                    create_chart('{{ name }}', {{ json_data }});
                </script>
            {% endautoescape %}

            <div class="text-xs-center" style="color: #fff; background-color: #005580; min-height: 100px; padding: 65px; border-radius: 1rem;">
                <div class="row">
                    <div class="col-sm">
                        <div id="{{ name }}" style="L">
                        </div>
                        <br>
                    </div>

                    <div class="col-sm">
                        <div class="container alert alert-info survey-description" role="alert">
                            <span style="font-size:xx-large">{{ name }}:</span>
                            <p>My name 📛 is, my 📛name 📛 is My name📛 is, Charles the Second! ​ I 💝love💝 the people👦 And the people👤 ❤️love❤️ me So much that they restored The English monarchy! ​ I’m part〽️ Scottish, French, Italian A little bit Dane But one1️⃣ hundred💯💯 percent 🔣 party🍺 animal🐀 Champagne? ​ Spaniels I adored Named after me too Like me, they were 🎢fun 🎢 With a🅰️ nutty hair💈 do! ​ Is today my birthday🎊🎊? I can’t recall Let’s have 🈶 🅰️a🅰️ 🎉party🎉 anyway Because I love💘 🅰️a🅰️ masked 😷 ball🎳! ​ All hail, the king👑! Of bling! Let’s sing! Bells ring🔗! Ding ding🇩🇪! I’m the king👑 who brought back↩️ partying🍺! ​ King Charles, my daddy Lost his throne and 👑kings👑 were banned They chopped off📴 his head💆 Then Olly Cromwell 🔨ruled🔨 the land ​ Old Olly wasn’t jolly </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}