{% extends 'base.html' %}
<!-- include crispy -->

{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block title %}Graph Analysis{% endblock %}


{% block content %}
    <!-- charts static files -->
        <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.candy.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

    <script> var graph_analysis_data = {{ survey_data|safe }} </script>

    <form action="" method="post">
        {% csrf_token %}

        <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Graph Analysis : <b>{{analysis_name}}</b></h2>
            <h5 class="text-muted">Survey - {{survey_name}}</h5>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <div class = "row text-center">
                        <!-- JS magic tables -->
                        <div class = "single_term_table col col-md-8 card card-body bg-light outside-container" style="margin:24px" id="graphtable">
                            <!-- this is where all the magic js charts go -->
                        </div>
                        <!-- Right Sidebar -->
                        <div class = "col col-md-auto card card-body bg-dark text-white" style="margin:24px 0px 24px 0px">
                            <p class="lead">Graph style</p>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                                <select class="custom-select" id="add_graph_style">
                                    <option selected hidden disabled>Please select a graph style</option>

                                    <optgroup label="2D">
                                        <option value="column2d">Column</option>
                                        <option value="line">Line</option>
                                        <option value="area2d">Area</option>
                                        <option value="bar2d">Bar</option>
                                        <option value="pie2d">Pie</option>
                                        <option value="doughnut2d">Doughnut</option>
                                        <option value="pareto2d">Pareto</option>
                                    </optgroup>

                                    <optgroup label="3D">
                                        <option value="column3d">Column</option>
                                        <option value="bar3d">Bar</option>
                                        <option value="pie3d">Pie</option>
                                        <option value="doughnut3d">Doughnut</option>
                                        <option value="pareto3d">Pareto</option>
                                    </optgroup>

                                </select>
                            </div>

                            <p class="lead">Add new term</p>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                                <select class="custom-select" id="addtermform_graph">
                                    <option selected hidden disabled>Please select a classification</option>
                                    {% for question in survey_data %}
                                        <option value="{{question.pk}}"> {{question.fields.question_text}}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-info" id="addterm_graph" >Add</button>
                            </div>



                            <p class="lead">Remove field</p>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                                <select class="custom-select" id="remtermform_graph">
                                </select>
                                <button type="button" class="btn btn-secondary" id="remterm_graph">Remove</button>
                            </div>

                            <p class="lead">Analysis Controls</p>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                                <button type="button" class="btn btn-warning" id="deltermpage_graph" style="margin-bottom:24px">Clear all</button>

                                {% if operation == "overwrite" %}
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete analysis `{{ analysis_name }}`?')" class="btn btn-danger" name="delete" value="{{ analysis_pk }}" id="delanalysis_graph" style="margin-bottom:24px">Delete analysis</button>
                                {% endif %}

                                <button type="submit" name="operation" value="{{operation}}" id="post_save_analysis_graph" class="btn btn-success">Save Analysis</button>
                                <div id="post_this" hidden> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}