{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Single Term Analysis{% endblock %}

{% block content %}

 <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="container-fluid">
          <div class = "row text-center ">
            <div class = "col col-md-8 card card-body bg-light" style="margin:24px" id="termtables">
            </div>
            <div class = "col col-md-auto card card-body bg-dark text-white" style="margin:24px 0px 24px 0px">
              <p class="lead">Add new term</p>
              <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                <select class="custom-select" id="addtermform">
                  <option>test</option>
                </select>
                <button type="button" class="btn btn-info" id="addterm">Add</button>
              </div>
              <p class="lead">Add constraint</p>
              <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                <select class="custom-select" id="addconform">
                  <option>test</option>
                </select>
                <button type="button" class="btn btn-info" id="addconstraint">Add</button>
              </div>
              <p class="lead">Remove field</p>
              <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:72px">
                <select class="custom-select" id="remtermform">
                </select>
                <button type="button" class="btn btn-secondary" id="remterm">Remove</button>
              </div>
              <p class="lead">Delete Term Statistics Page</p>
              <button type="button" class="btn btn-danger" id="deltermpage">Delete</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


{% endblock %}
