{% extends 'base.html' %}
{% load static from staticfiles %}

<!-- include crispy -->
{% load crispy_forms_tags %}

{% block title %}Single Term Analysis{% endblock %}

{% block content %}

    <script>
        var single_analysis_words = {{words|safe}}
        var single_analysis_choices = {{choices|safe}}
        var single_analysis_answers = {{answers|safe}}
        var single_analysis_classifications = {{classificiations_js|safe}}
    </script>

    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Single Term Analysis : <b>{{analysis_name}}</b></h2>
        <h5 class="text-muted">Survey - {{survey_name}}</h5>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class = "row text-center">
                    <!-- JS magic tables -->
                    <div class = "single_term_table col col-md-8 card card-body bg-light outside-container" style="margin:24px" id="termtables">
                    </div>
                    <!-- Right Sidebar -->
                    <div class = "col col-md-auto card card-body bg-dark text-white" style="margin:24px 0px 24px 0px">
                        <p class="lead">Add new term</p>
                        <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                            <select class="custom-select" id="addtermform">
                                <option selected hidden disabled>Please select a classification</option>
                                {% for classif in classifications %}
                                    <option value="{{classif.pk}}">{{classif.name}}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-info" id="addterm" >Add</button>
                        </div>
                        <p class="lead">Add constraint</p>
                        <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                            <select class="custom-select" id="addconform">
                                <option selected hidden disabled>Please select a constraint</option>
                                {% for pi in pi_choices %}
                                    <option>{{pi}}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-info" id="addconstraint">Add</button>
                        </div>
                        <p class="lead">Remove field</p>
                        <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-bottom:24px">
                            <select class="custom-select" id="remtermform">
                            </select>
                            <button type="button" class="btn btn-secondary" id="remterm">Remove</button>
                        </div>
                        <p class="lead">Delete Term Statistics Page</p>
                        <button type="button" class="btn btn-danger" id="deltermpage">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
